/*

The general format for responsive media

Small phones from 0 to 480px:
@media only screen and (max-width: 480px)

Small phones to small tablets (481px to 767px):
@media only screen and (max-width: 767px)

Small tablets to big tablets (768px to 1023px)
@media only screen and (max-width: 1023px)

Big tablets to 1200px (1024 to 1200px)
@media only screen and (max-width: 1200px)

Some things I learned:

1. Make font smaller as resolution goes down
2. Remove/reduce margin or padding as needed
3. Increase image size as needed
4. Hide overflow 

*/

/*Small tablets to big tablets */
@media only screen and (max-width: 1200px) {
    .row { padding: 0 2%; }
    .banner-text-box {
        width: 100%;
        padding: 0 2%;
    }
}

/*Small tablets to big tablets 768px to 1023px*/
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    .step-box { margin-top: 10px; }
    .step-box:last-child { margin-top: 10px; }
    .works-step { margin-bottom: 40px; }
    .works-box:last-of-type { margin-bottom: 60px; }
    .app-screen { width: 50%; }
    
    /* CITY SECTION */
    .city-features { font-size: 80%; }
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    /* PLAN SECTION */
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    .plan-price { font-size: 230%; }
    
    /* CONTACT SECTION */
    .contact-form { width: 80%; }
    .footer-nav { font-size: 96%; }

    .contact-form { width: 80%; }
}

/*Small phones to small tablets 481px to 767px*/
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    padding { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col {
        width: 100%;
        margin: 0 0 2% 0;
    }

    .main-nav { display: none; }

    .section-features .row .col{
        width: 100%;
        display: block;
    }

    .long-copy {
        width: 100%;
        margin: 0;
    }

    h1 { font-size: 180%; }
    h2 { font-size: 180%; }

    .section-cities .col {
        display: block;
        width: 100%;
        text-align: center;

        font-size: 22px;
    }

    .works-step {
        margin-bottom: 20px;
    }
    .works-step:last-of-type { margin-bottom: 20px; }

    .steps-box:first-child {
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 0;
    }

    .app-screen { width: 40% }

    .works-step div {
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    }

    .steps-box:last-child {
        margin-top: 20px;
        padding-left: 0px;
        margin-left: 0px;
        width: 100%;
    }

    .contact-form { width: 100%; }

    .city-features:last-child { margin-bottom: 20px; }

    section { padding: 30px 0; }

    header { background-image: url(img/banner-mbl.jpg); }

    .section-testimonials { background-image: url(img/back-customers.jpg); }
}

/*Small phones from 0 to 480px*/
@media only screen and (max-width: 480px) {
    h1,
    h2 { font-size: 130%; }
    
}
